.container {
  padding: 1rem 1.5rem;
  background: linear-gradient(to right, #56c9fd, #71b3b8);
  border-radius: 8px;
  border: 4px solid #fff;
  box-shadow: 3px 6px 8px 0px rgba(145, 145, 145, 0.5);
  cursor: pointer;

  color: #fff;
  font-weight: 600;
}
